<a href="https://colab.research.google.com/github/Ikeoluwa-2004/ACCESS-SAP-Data-Science-Track/blob/main/week2_session4_data_cleasning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [22]:
#Read the dataset
from google.colab import drive
drive.mount('/content/drive')

df_sales = pd.read_csv("/content/Warehouse_and_Retail_Sales.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
df_sales.shape

(307645, 9)

In [17]:
df_sales.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [18]:
df_sales.isna().sum()

YEAR                0
MONTH               0
SUPPLIER            0
ITEM CODE           0
ITEM DESCRIPTION    0
ITEM TYPE           0
RETAIL SALES        0
RETAIL TRANSFERS    1
WAREHOUSE SALES     1
dtype: int64

In [20]:
print("Missing values per column:")
print(df_sales.isnull().sum())

Missing values per column:
YEAR                0
MONTH               0
SUPPLIER            0
ITEM CODE           0
ITEM DESCRIPTION    0
ITEM TYPE           0
RETAIL SALES        0
RETAIL TRANSFERS    1
WAREHOUSE SALES     1
dtype: int64

In [12]:
# SUPPLIER - 167 missing (167/307645 = 0.054%),
# Decision: fill with 'Unknown' as it's categorical
df_sales['SUPPLIER'].fillna('Unknown', inplace=True)

# ITEM TYPE - 1 missing (1/307645 = 0.0003%),
# Decision: fill with mode
df_sales['ITEM TYPE'].fillna(df_sales['ITEM TYPE'].mode()[0], inplace=True)

# RETAIL SALES - 3 missing (3/307645 = 0.000975%),
# Decision: fill with Median
df_sales['RETAIL SALES'] = pd.to_numeric(df_sales['RETAIL SALES'], errors='coerce')
df_sales['RETAIL SALES'].fillna(df_sales['RETAIL SALES'].median(), inplace=True)

print(f"\nOriginal shape: {df_sales.shape}")
print(f"Cleaned shape: {df_sales.shape}")
print(f"\nRemaining missing values:")
print(df_sales.isnull().sum())

Original shape: (46854, 9)
Cleaned shape: (46854, 9)

Remaining missing values:
YEAR                0
MONTH               0
SUPPLIER            0
ITEM CODE           0
ITEM DESCRIPTION    0
ITEM TYPE           0
RETAIL SALES        0
RETAIL TRANSFERS    1
WAREHOUSE SALES     1
dtype: int64

/tmp/ipython-input-2810205116.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sales['SUPPLIER'].fillna('Unknown', inplace=True)
/tmp/ipython-input-2810205116.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sales['ITEM TYPE'].fillna(df_sales['ITEM TYPE'].mode()[0], inplace=True)
/tmp/ipython-input-2810205116.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_sales['RETAIL SALES'].fillna(df_sales['RETAIL SALES'].median(), inplace=True)

In [13]:
df_sales.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [14]:
df_sales.tail(15)

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
46839,2017,6,TREASURY WINE ESTATES AMERICAS COMPANY,81650,19 CRIMES THE WARDEN RED BLEND - 750ML,WINE,6.58,2.0,3.0
46840,2017,6,CONSTELLATION BRANDS,81655,R MONDAVI PR SEL CHARD - 1.5L,WINE,31.82,32.0,6.0
46841,2017,6,E & J GALLO WINERY,81657,LIVINGSTON CELLARS SANGRIA - 3L,WINE,1.25,2.0,7.0
46842,2017,6,CONSTELLATION BRANDS,81663,R MONDAVI PR SEL CAB - 1.5L,WINE,34.66,41.0,6.0
46843,2017,6,TREASURY WINE ESTATES AMERICAS COMPANY,81665,19 CRIMES THE BANISHED RED BLEND - 750ML,WINE,18.22,15.0,5.0
46844,2017,6,E & J GALLO WINERY,81666,CARLO ROSSI CAL CAB - 4L,WINE,17.00,11.0,16.0
46845,2017,6,E & J GALLO WINERY,81671,GALLO FAMILY VYDS WH/ZIN - 187ML,WINE,0.50,0.0,4.0
46846,2017,6,E & J GALLO WINERY,81675,CARLO ROSSI CAL MERLOT - 4L,WINE,9.50,7.0,18.0
46847,2017,6,REPUBLIC NATIONAL DISTRIBUTING CO,81679,KIM CRAWFORD ROSE - 750ML,WINE,22.36,8.0,2.0
46848,2017,6,LEGENDS LTD,8168,TUSKER 4/6NR - 12OZ,BEER,0.00,0.0,2.0
46849,2017,6,E & J GALLO WINERY,81684,CARLO ROSSI CAL CHARD - 4L,WINE,14.50,16.0,11.0
46850,2017,6,DUCKHORN WINE COMPANY,81686,DECOY SONOMA VLY ZIN - 750ML,WINE,1.55,4.0,2.0
46851,2017,6,PATERNO IMPORTS LTD,81689,BODEGAS VALDEMAR SELECCION - 750ML,WINE,0.08,0.0,0.0
46852,2017,6,STE MICHELLE WINE ESTATES,81694,COLUMBIA CREST GR EST RED BLEND - 750ML,WINE,3.40,1.0,1.0
46853,2017,6,E & J GALLO WINERY,81698,COPPERIDGE CHARD - 750ML,WINE,0.24,NaN,NaN

In [15]:
df_sales.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
46849    False
46850    False
46851    False
46852    False
46853    False
Length: 46854, dtype: bool

In [16]:
df_sales.duplicated().sum()

np.int64(0)

# **FEATURE** **ENGINEERING**

In [24]:
# CREATE A NEW COLUMN 'DATE' AND MAKE IT A DATETIME DATATYPE
df_sales['DATE'] = df_sales['YEAR'].astype(str) + '-' + df_sales['MONTH'].astype(str)
df_sales['DATE'] = pd.to_datetime(df_sales['DATE'])
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307645 entries, 0 to 307644
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307645 non-null  int64
 1   MONTH             307645 non-null  int64
 2   SUPPLIER          307478 non-null  object
 3   ITEM CODE         307645 non-null  object
 4   ITEM DESCRIPTION  307645 non-null  object
 5   ITEM TYPE         307644 non-null  object
 6   RETAIL SALES      307642 non-null  float64
 7   RETAIL TRANSFERS  307645 non-null  float64
 8   WAREHOUSE SALES   307645 non-null  float64
 9   DATE              307645 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(2), object(4)
memory usage: 23.5+ MB

In [25]:
# CREATE TOTAL SALES COLUMN TO SEE TOTAL SALES FROM EACH TRANSACTIONS
df_sales['TOTAL SALES'] = df_sales['RETAIL SALES'] + df_sales['WAREHOUSE SALES']
df_sales.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES,DATE,TOTAL SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0,2020-01-01,2.00
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0,2020-01-01,4.00
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0,2020-01-01,1.00
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0,2020-01-01,1.00
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0,2020-01-01,0.82

In [27]:
# SAVE TO A CSV FILE AND EXPORT
g_drive_path = '/content/drive/MyDrive/Cleaned_Sales_Data.csv'
df_sales.to_csv(g_drive_path, index=False)